<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biscoff Bakery</title>
</head>
<nav>
    <a href="/bakedgoods/new">Add Baked Good</a>
</nav>
<body>
    <h1>Biscoff Bakery</h1>
    <ul>
    <% for (let i = 0; i < allBakedGoods.length; i++) { %>
        <li>
            <a href="/bakedgoods/<%=i%>"><%=allBakedGoods[i].name%></a>
        </li>
   <% } %>
    </ul>
</body>
</html>